package main

templ indexPage() {
    <html lang="en-US">
        <head>
            <script src="https://cdn.tailwindcss.com"></script>
            <title>DnD</title>
        </head>
        <body>
            <h1>Welcome to the Dungeon!</h1>
        </body>
    </html>
}