package common

templ UserIcon(color string, strokeWidth float64) {
	<svg class="w-6 h-6 stroke-2" fill="none" stroke={ color } strokeLinecap="round" strokeLinejoin="round" shapeRendering="geometricPrecision" viewBox="0 0 24 24">
		<path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
		<circle cx="12" cy="7" r="4"></circle>
	</svg>
}
